PUBLIC_HOSTNAME=prk97.ru
ACME_EMAIL=admin@prk97.ru

POSTGRES_DB=atom
POSTGRES_USER=atom
POSTGRES_PASSWORD=change-me-postgres-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

JWT_SECRET=change-me-long-random-jwt-secret

IDENTITY_INTERNAL_API_KEY=change-me-identity-key
SCHEDULE_INTERNAL_API_KEY=change-me-schedule-key

IDENTITY_SERVICE_URL=http://identity-service:8082
SCHEDULE_SERVICE_URL=http://schedule-service:8080
IMPORT_SERVICE_URL=http://import-service:8083

ATOM_IMPORT_ARCHIVE_DIR=/app/data/import-archive

GRAFANA_ADMIN_PASSWORD=change-me-grafana-password
