{
	email {$ACME_EMAIL}
}

{$PUBLIC_HOSTNAME} {
	encode zstd gzip

	request_body {
		max_size 200MB
	}

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "0"
	}

	handle /grafana/* {
		reverse_proxy grafana:3000
	}

	handle /api/* {
		reverse_proxy api-gateway:8081
	}

	handle {
		reverse_proxy frontend:3000
	}
}
